#tam{
    background: #91101a;
}

#fire{
    background: #b43505;
}

#teal{
    background: #009688;
}

#purple{
    background: #673ab7;
}

#indigo{
    background: #4b0082;
}

.o1{
    text-align: center;
}
